
.FormTopic{
    display:none;
    
}
.FormActive{
    display:flex !important;
    align-items: center ;
    column-gap: 10px;

}
.SubmitEditTopic{
    height: 25px;
}

.LiensPathForum{
    display:flex; 
    align-items:center;
    column-gap:10px;
}
.flex {
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.flexVertical {
    display:flex;
    
    column-gap: 10px;
    flex-direction: column;
}
.formRegister{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    
}
.formRegister input {
    width: 30%;
    height: 40px;

}
.fa-unlock{
    color:green;
}
.fa-lock{
    color:red ;
}
#nav-right{
    margin-top: 10px;
    display:flex;
    column-gap: 25px;
}
.categorie_affichage{
    display:flex; 
    align-items: center;
    column-gap: 15px;
}
