*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* .FormTopic{
    display:none;
    
}
.FormActive{
    display:flex !important;
    align-items: center ;
    column-gap: 10px;

}
.SubmitEditTopic{
    height: 25px;
}

.LiensPathForum{
    display:flex; 
    align-items:center;
    column-gap:10px;
}
.flex {
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.flexVertical {
    display:flex;
    
    column-gap: 10px;
    flex-direction: column;
}
.formRegister{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    
}
.formRegister input {
    width: 30%;
    height: 40px;

}

#nav-right{
    margin-top: 10px;
    display:flex;
    column-gap: 25px;
}
.categorie_affichage{
    display:flex; 
    align-items: center;
    column-gap: 15px;
} */
body{
    background: #282828;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

#layout_nav{
    display: flex ; 
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding:0px 30px 0px 30px;
    
    
}
#layout_nav input{
    border-radius: 40px ;
    width:380px;
    max-width: 450px;
    min-width: 250px;
    height: 35px;
    background: #D9D9D9;
    padding-left:50px ;
    position: relative;
    border: none ;
    

}
.fa-unlock{
    color:rgb(141, 194, 141);
    font-size: 22px;
}
.fa-lock{
    color:rgb(197, 123, 123) ;
    font-size: 22px;
}
#layout_nav img{
border-radius: 5px;
width: 100px;
height: 55px;
flex-shrink: 0;
margin-top: 10px;
}
header{
    background: #161616;
    width : 100%; 
    min-height: 80px ;
    column-gap: 50px;
    
}



.fa-magnifying-glass{
    margin-left: 20px;
    position:absolute;
    z-index: 10;
    font-weight: bolder;
}
#search_bar{
    display:flex;
    align-items: center;
    
    
}   
header a {
    text-decoration: none;
    color : white; 
}
.register_btn{
    background: #EB770D;
    width:140px ; 
    height: 50px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}
.left_nav{
    display: flex;
    column-gap: 45px;
    align-items: center;
    height:80px;
}
.right_nav{
    display: flex;
    column-gap: 20px ;
    align-items: center;
    
}
.login_btn{
    background: #2e2c2c;
    width:130px ; 
    height: 45px;
    text-align: center;
    padding-top: 9px;
    font-size: 17px;
    border-radius: 10px;
}
.fa-list{
    margin-right: 7px;
    font-size: 20px;
}
.browse_link{
    font-size: 18px;
}
.fa-user{
    background-color: #EB770D ;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    padding-top: 13px;
    font-size: 22px;
    color:black;
    margin-right: 5px;
    transition: all 0.5s ease-in-out;
}
.profile_link{
    width: 110px;
    border:none;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
}
.profile_link a {
    
}
.profile_link:hover{
    background-color: #EB770D;
    color:black;
    
}
.profile_link:hover .fas.fa-user {
    background-color: #181717;
    color:rgb(202, 192, 192);
  }
  .titre_page{
    text-align: left;
    margin-top: 50px;
    color:white;
    font-size: 15px;
    width:70%;
    
  }
  .titre_page a  { 
    color : white;
    text-decoration: none;
  }
  .categorie_affichage{
    
    display: flex !important;
    color :white;
    width:70%;
    margin-top: 3px;
    height: 100px ;
    background: #4A4A4A;
    border-bottom: 3px solid #6A6767;
    padding: 10px 25px 10px 15px ;
    align-items: center;
   justify-content: space-between;
  }
  
  .categorie_nbr{
    color: #E18111;
    text-align: center;
    line-height: normal;
    font-weight: 275;
    font-style: normal;
    width: 70px;
    height: 70px;
    background: #282828;
    font-size: 34px ;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }

  .all_categories{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  .categorie_titre{
    color: #D9D9D9;
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .categorie_titre2{
    color: #D9D9D9;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .titre_nbr_categorie{
    display:flex;
    align-items: center;
    column-gap: 10px;
    width:300px
  }
  .nbp_nbt_categorie{
    display: flex;
    justify-content: space-between;
    width:50%;
    align-items: center;
  }
  .nbp_categorie p{
    color: #938989;
    font-size: 13px;
    font-weight: bolder;
  }
  .nbp_categorie h4{
    margin-top: -5px;
    font-size: 26px;
    font-weight: 500;
    
  }
  .activité_categorie{
    color: #a8a6a6;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    width:130px;
  }
  .popularité_categorie p{
    color: #938989;
    font-size: 14px;
    font-weight: bolder;
  }
  .black_line{
    width:150px;
    height: 3px;
    background:black;
    position: relative;
  }
  .orange_line{
    width:20px;
    height: 3px;
    background:rgb(230, 133, 6);
    position: absolute;
    top:0px;
  }
footer{
    height: 100px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0%;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
  }

footer a {
    text-align: center;
    text-decoration: none;
    color : white;
  }

footer p {
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    text-align: center;
    width: 100%;
}
.topic_creator{
    display: block;
    width:100px;
    text-decoration: none;
    color : rgb(214, 209, 209) ;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    
    
}
.edit_btn{
    background-color: transparent;
    border:none;
    color : white; 
    font-size: 20px;
    cursor:pointer;
    
}
.edit_supp{
    display: flex;
    flex-direction: column;
    
    
}
.supp_btn{
    color : rgb(224, 114, 114);
    font-size: 20px;
}
.FormTopic{
    
    display: none;
    width:70%;
    padding-left: 30px;
    background-color: rgb(109, 108, 108);
    position:relative;
    animation: slideUp 1s ease-in-out forwards;
    position: relative;
}
@keyframes slideUp {
    0% {
        top: 0;
        height: 0px;
        
    }
    100% {
        top: -70px;
        height: 0px;
        
    }
}
.FormActive{
    display:flex !important;
    align-items: center ;
    column-gap: 10px;
    position: relative;
    z-index:-1;
    height: 70px;   
    animation: slideDown 0.3s ease-in-out forwards;

    position: relative;
    top: 0;
}
@keyframes slideDown {
    0% {
        height: 0px;
        top: -70px;
    }
    100% {
        top: 0;
        height: 70px;
    }
}

   
    



.FormTopic label{
    color:white; 
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}
.FormTopic input {
    background-color:#4A4A4A;
    border:none;
    
    height: 35px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:0px 5px 0px 8px ;
}
.FormTopic select {
    background-color:#4A4A4A;
    border:none;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:0px 5px 0px 8px ;
}
#SubmitEditTopic {
    width: 70px;
    text-align: center;
    font-weight: 800 ;
    padding:0px 8px 0px 8px ;
    font-size: 15px;
    width:90px;
    margin-left: 10px;
    cursor: pointer;
}
.FormNewTopic{
    display: flex;
    width:70%;
    height: 300px;
    flex-direction: column;
    background-color:#4A4A4A;
    margin-top: 20px;
    justify-content: center;
    margin: 0px auto 0px auto;
    margin-top: 8px;
    padding: 10px 10px 20px 30px;
    margin-bottom: 150px;
}

.FormNewTopic label{
    color: rgb(187, 183, 183); 
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    font-weight: 700;
}
.FormNewTopic input {
    background-color: rgb(109, 108, 108);
    border:none;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:0px 5px 0px 8px ;
}

.FormNewTopic textarea {
    background-color: rgb(109, 108, 108);
    border:none;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:10px 10px 10px 10px ;
    width: 70%;
    height: 120px;
    
}
.FormNewTopic select {
    background-color: rgb(109, 108, 108);
    border:none;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:0px 5px 0px 8px ;
}
.FormNewTopic label{
    margin-bottom: 2px;
    margin-top: 10px;
}
.div_form{
    display: flex;
    align-items: end;
    column-gap: 30px;
    
}
.submit_categorie{
    width:120px !important;
    height: 40px !important;
    font-weight: 500 !important;
    font-size: 18px;
}
.p_disconnected{
    color :white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.p_disconnected a {
    text-decoration: none;
    color :#EB770D;
}
.formRegister{
    display: flex;
    width:100%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    margin: 0px auto 0px auto;
    margin-top: 8px;
    padding: 10px 10px 20px 30px;
    row-gap: 10px;
    height: 60vh;
}
.formRegister input{
    background-color: rgb(109, 108, 108);
    border:none;
    width: 34%;
    max-width: 500px;
    height: 50px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    padding:0px 5px 0px 8px ;
}
.submit{
    width: 150px !important;
    text-align: center;
    font-weight: 800 ;
    width: 180px !important;
    height: 120px !important;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    height:40px !important;
    margin-top: 20px;
    transform: background-color 0.5 ease;

}
.submit:hover{
    transform: background-color rgb(206, 126, 6);
}
.formRegister label{
    color:white; 
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px; 
}


.allPosts{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    margin-bottom: 150px ;
    min-height: 20vh;
    
}
.eachPost{
    
    width:70%;
    display:flex;
    min-height: 80px;
    border-bottom: 4px solid rgb(56, 55, 55);
    
    
}
.profile_pic{
    border-radius: 100px;
    
    
}
.post_info{
    color : white;
    text-align: center;
    width: 15%;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    background: rgb(66, 65, 65);
}
.post_text{
    width:75%;
    padding: 15px;
    color: whitesmoke;
    background: rgb(88, 88, 88);
}
.post_btns{
    background: rgb(88, 88, 88);
    width: 10%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: end;
    row-gap: 8px;
}
.fa-trash{
    font-size: 20px;
    color:#ED6B6B;
    
}
.edit_post{
    width:20px;
}
.path_post{
    display: flex;
    column-gap: 10px;
    width:70%;
    text-align: center;
    margin: 40px auto 20px auto;
    font-size: 20px;
    
}